
/** カラー設定 **/
$base-color: #ffffff;
$bg-color: #ffffff;
$accent-color: #ffe300;

$title-text-color: #000000;
$base-text-color: #333333;

$black-color: #000000;
$gray333-color: #333333;
$gray666-color: #666666;
$gray999-color: #999999;

$white-color: rgba(255, 255, 255, 1);
$yellow-color: #ffff00;
$pink-color: #ff8300;
$blue-color: #328cfa;
$purple-color: #1d2080;
$red-color: #e20012;
$orange-color: #fa9400;
$skyblue-color: #7ecacf;
$skyblue-color-rgba: rgba(126, 202, 207, 1);
$lineGreen-color-rgba: rgba(58, 174, 54, 1);

$bg-responseDev: rgba(242, 255, 255, 1);
$bg-responseDev-tel: #2ea7e0;
$bg-responseDev-mail: #7ecacf;
$bg-responseDev-line: #3aae36;

/** font size **/
$base-font-size: 16px;