---

import '@/assets/scss/common.scss';
import '@/assets/scss/pc.scss';
import Head from '@/components/head.astro';
import Header from '@/components/header/Header.astro';
import Footer from '@/components/footer/Footer.astro';
import Form from '@/components/form/Form.astro';


const pageID = "sec";
const pageSlug = "contact";
---

<html lang="en">
	<Head pageSlug={pageSlug} />	


	<body id={pageID}>


		<Header />
		
		<main>
			

			<section class="unitWrap" id="contactWrap">
				<div class="cont">
					<div class="titleWrap commonH2">
						<p class="bgText">Contact us</p>
						<h2>Contact us</h2>
					</div>

					<Form />

				</div>
			</section>



		</main>

		<Footer />

		
		
	</body>
</html>
